# توکن ربات تلگرام (از BotFather)
BOT_TOKEN=8882257549:AAEHfFlSHQxkHWon_EdBrn4c9hTzNybOy60

# آیدی عددی ادمین (از @userinfobot)
ADMIN_IDS=971177625

# Appwrite Cloud Settings
# Endpoint: https://cloud.appwrite.io/v1 (یا آدرس سرور خودت)
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1

# Project ID را از کنسول Appwrite بگیرید
APPWRITE_PROJECT_ID=your_project_id

# API Key را از بخش API Keys در کنسول بسازید (permissions: databases.read, databases.write, documents.read, documents.write, collections.read, collections.write)
APPWRITE_API_KEY=your_api_key

# Database ID (در کنسول بسازید و ID را اینجا بگذارید)
APPWRITE_DATABASE_ID=english_bot
