# توکن ربات تلگرام (از BotFather)
BOT_TOKEN=8882257549:AAEHfFlSHQxkHWon_EdBrn4c9hTzNybOy60

# آیدی عددی ادمین (از @userinfobot)
ADMIN_IDS=971177625

# Appwrite Cloud Settings
# Endpoint: https://cloud.appwrite.io/v1 (یا آدرس سرور خودت)
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1

# Project ID را از کنسول Appwrite بگیرید
APPWRITE_PROJECT_ID=6a279bb700127e8c7ae8

# API Key را از بخش API Keys در کنسول بسازید (permissions: databases.read, databases.write, documents.read, documents.write, collections.read, collections.write)
APPWRITE_API_KEY=standard_1636242c78f1f62a650c1c9d0fd91af3788c2dc4cb7c16bad24fea23b9414a7a6d8fd6ba3025794ab87518f69e59ed11b7562841b88ce9ac466b3843576ff344e245fa0299677d2f0209313ce49acecf81b80baa35b32efd460e817807fe7ed119c0f2e618b02462ee49419f061a16e45cdb41b2956e6163fc778ea0444baec3

# Database ID (در کنسول بسازید و ID را اینجا بگذارید)
APPWRITE_DATABASE_ID=6a27a042002b32bef5b6
